[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "*"
nltk = "*"
scikit-learn = "*"
pandas = "*"

[dev-packages]
black = "*"
pytest = "*"
autoflake = "*"
rope = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
